@model UserManagementService.Models.UserModel

<h2>Выбор ролии</h2>

<form asp-action="DisplayLoginPage">
    <div class="form-group">
        <label for="roleSelection">Выберите вашу роль:</label>
        <select asp-for="Role" class="form-control" id="roleSelection">
            <option value="User">Пользователь</option>
            <option value="Librarian">Сотрудник</option>
            <option value="Admin">Администратор</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Продолжить</button>
</form>